<!DOCTYPE html>
<html>
<header>
<title>Pi Frox Demonstrator running on Raspberry Pi Server {{ variables.target }}</title>
</header>
<body>
<div style="text-align:center;color:{{ variables.font_color }};">
<h1>{{ variables.short_description }}</h1>
<div>{{ variables.description }}</div>
<div>Page deployed on {{ variables.target }} by {{ metadata.requester }} on the {{ metadata.requested_on }}</div>
</div>
</body>
</html>